<!doctype html>
<html>
    <head>
        <title>gunfp: Decentralized "Facility Planning" Software</title>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/gun/gun.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-core.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <style>
            body,
            html {
                max-width: 100vw;
            }

            .bungee {
                font-family: "Bungee Tint", sans-serif;
                font-weight: 400;
                font-style: normal;
            }

            .fira-sans-light {
                font-family: "Fira Sans", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

            .fira-sans-medium {
                font-family: "Fira Sans", sans-serif;
                font-weight: 600;
                font-style: normal;
            }

            #overlay {
                position: fixed;
                display: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                cursor: pointer;
            }

            #content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
            }

            #notification {
                position: fixed;
                display: none;
                top: 10px;
                right: 10px;
                z-index: 3;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <main 
            id="app"
            classs="max-w-screen"
        >
            <!-- Notifications -->
            <div id="notification">
                <div 
                    v-if="notificationMessage" 
                    class="p-2 rounded-lg bg-yellow-300 w-[60vw] md:w-full text-xs md:text-base shadow text-white bungee"
                >
                    {{ notificationMessage }}
                </div>
            </div> 

            <!-- Overlay -->
            <div id="overlay">
                <div id="content">
                    <div class="bg-white h-fit w-full md:w-[40vw] p-4 rounded-lg flex flex-col space-y-4">
                        <div>
                            <h2 class="fira-sans-medium text-base">Generated ARC Diagram</h2>
                        </div>
                        <div>
                            <canvas
                                class="border rounded-lg h-full w-full"
                                id="arc-svg"
                            >
                            </canvas> 
                        </div>
                        <div class="flex flex-row justify-end space-x-2">
                            <button
                                v-if="svgDownloadURL"
                                @click="downloadSVG"
                                class="bg-green-300 border text-xs p-1 mb-3 rounded-lg firsa-sans-light shadow"
                            >
                                Download as SVG
                            </button>
                            <button
                                @click="closeModal"
                                class="bg-gray-300 border text-xs p-1 mb-3 rounded-lg firsa-sans-light shadow"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main App -->
            <div class="p-4 md:px-20 md:py-12 flex flex-col space-y-10">
                <div>
                    <h1 class="text-2xl md:text-3xl"> 
                        <span class="bungee">wira-pratama/gunie/arc:</span>
                        <span class="fira-sans-light pl-2">Activity Relationship Chart Made Easy</span>
                    </h1>
                    <p class="firsa-sans-light pt-2 text-xs md:text-sm">
                        GUNFP is a decentralized single file app created to aid in creating facility planning diagrams collaboratively 
                    </p>
                    <p class="pt-1 text-xs firsa-sans-light text-gray-500">
                        Created by wira-pratama
                    </p>
                </div>

                <!-- connect to gunfp node -->
                <div class="flex flex-col space-y-8">
                    <div>
                        <h2 class="fira-sans-medium text-base">Create or Connect to A <span class="bungee">Gunfp</span> Workspace</h2>
                        <p class="firsa-sans-light py-1 text-xs">
                            This is your auto generated gunfp workspace id, share this with other people to work collaboratively.
                        </p>
                        <div 
                            class="flex flex-row space-x-2"
                        >
                            <input
                                type="text"
                                placeholder="Activity name" 
                                v-model="gunfpId"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <button
                                class="bg-green-100 text-xs px-2 py-1 rounded-lg firsa-sans-light shadow"
                                @click="connectAndListenToNewGunfp"
                            >
                                Connect
                            </button>
                        </div>
                    </div>
                </div>

                <!-- After user is connected to a gunfp node -->
                <div class="flex flex-col space-y-8">
                    <div>
                        <h2 class="fira-sans-medium text-base">Manage Activities</h2>
                        <p class="firsa-sans-light py-1 text-xs">
                            This is where you create and set relations and reasons for your activities.
                        </p>
                        <div 
                            class=""
                        >
                            <input
                                type="text"
                                placeholder="Activity name" 
                                v-model="newActivity.pActivity"
                                @keyup.enter="createActivityElement"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <div v-if="activities.length === 1">
                                <label class="text-xs fira-sans-light text-gray-500">You need minimum of two activity, the one you just input was: "{{ activities[0] }}"</label>
                            </div>
                        </div>

                        <div class="mt-4 pl-2">
                            <div class="text-xs md:text-base fira-sans-light my-1 flex flex-row space-x-2 border-b" v-for="activity in activityElements">
                                <div class="w-1/4">
                                    <label>{{ activity.element.pActivity }}</label>
                                </div>
                                <div class="w-1/4">
                                    <label>{{ activity.element.sActivity }}</label>
                                </div> 
                                <div class="w-1/4">
                                    <select 
                                        @change="setActivityRelation(activity)"
                                        v-model="activity.element.relation"
                                        class="select w-full select-bordered font-secondary"
                                    >
                                        <option
                                            v-for="relation in relationElements"
                                            :value="relation.element.symbol" 
                                            :key="relation.key"
                                            class="font-secondary"
                                        >
                                            {{ relation.element.description }}
                                        </option>
                                    </select>
                                </div>
                                <div class="w-1/4 flex flex-row justify-end">
                                    <button
                                        @click="deleteActivity(activity)" 
                                        class="text-xs text-red-500 px-2 py-1 firsa-sans-light"
                                    >        
                                        <label class="hidden md:block">Delete Primary Keys</label>
                                        <label class="md:hidden block">Delete</label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2 class="fira-sans-medium text-base">Manage Relations</h2>
                        <p class="firsa-sans-light py-1 text-xs">
                            This is where you specify your closeness ratings.
                        </p>
                        <button
                            class="bg-gray-300 border text-xs px-2 py-1 mb-3 rounded-lg firsa-sans-light shadow"
                            @click="createRelationsForARC"
                        >
                            <label class="hidden md:block text-xs">use Activity Relationship Chart Closeness Ratings</label>
                            <label class="md:hidden block text-xs">use Template</label>
                        </button>

                        <form 
                            class="flex flex-row space-x-2"
                            @submit.prevent="createRelationElement"
                        >
                            <input
                                type="text"
                                placeholder="Relation symbol" 
                                v-model="newRelation.symbol"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <input
                                type="text"
                                placeholder="Relation description" 
                                v-model="newRelation.description"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <input type="submit" style="display: none" />
                        </form>
                        <div class="mt-4 pl-2">
                            <div class="text-xs md:text-base fira-sans-light my-1 flex flex-row space-x-2 border-b" v-for="relation in relationElements">
                                <div class="w-1/4">
                                    <label>{{ relation.element.symbol }}</label>
                                </div> 
                                <div class="w-2/4">
                                    <label>{{ relation.element.description }}</label>
                                </div>
                                <div class="w-1/4 flex flex-row justify-end">
                                    <button
                                        @click="deleteRelation(relation)" 
                                        class="text-xs text-red-500 px-2 py-1 firsa-sans-light"
                                    >
                                        Delete Relation
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2 class="fira-sans-medium text-base">Manage Reasoning</h2>
                        <p class="firsa-sans-light py-1 text-xs">
                            This is where you specify your reasoning on setting a relation.
                        </p>
                        <form 
                            class="flex flex-row space-x-2"
                            @submit.prevent="createReasonElement"
                        >
                            <input
                                type="text"
                                placeholder="Reasoning symbol/id" 
                                v-model="newReason.symbol"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <input
                                type="text"
                                placeholder="Reasoning description" 
                                v-model="newReason.description"
                                class="fira-sans-light w-full border rounded text-xs sm:text-sm p-1"
                            >
                            <input type="submit" style="display: none" />
                        </form>
                        <div class="mt-4 pl-2">
                            <div class="text-xs md:text-base fira-sans-light my-1 flex flex-row space-x-2 border-b"v-for="reason in reasonElements">
                                <div class="w-1/4">
                                    <label>{{ reason.element.symbol }}</label>
                                </div> 
                                <div class="w-2/4">
                                    <label>{{ reason.element.description }}</label>
                                </div>
                                <div class="w-1/4 flex flex-row justify-end">
                                    <button
                                        @click="deleteReason(reason)" 
                                        class="text-xs text-red-500 px-2 py-1 firsa-sans-light"
                                    >
                                        Delete Reason
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button 
                            @click="openModal()"
                            class="bg-green-600 text-white w-full fira-sans-medium rounded-lg py-2"
                        >
                            Generate ARC Diagram
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script>
        // localStorage.clear();
        // var gun = new Gun();

        var gun = new Gun(['https://wira-pratama.tech/gun']);
        var db;
        
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    gunfpId: false,
                    elements: [],
                    activities: [],
                    relations: [],
                    reasons: [],
                    newMetadata: {
                        title: '',
                        subtitle: '',
                        author: '',
                        pad_x: 40,
                        pad_y: 20,
                        height: 20,
                        length: 120,
                        type: 'metadata'
                    },
                    newActivity: {
                        pActivity: '',
                        sActivity: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    },
                    newRelation: {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    },
                    newReason: {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    },
                    svgDownloadURL: false,
                    notificationMessage: false
                };
            },
            computed: {
                activityElements: function() {
                    /*
                        Find all activities that are paired (have sActivity)
                    */
                    var pairedActivityElements = this.elements.filter(function(element) {
                        return element.element.type === 'activity' && element.element.sActivity;
                    });

                    /*
                        This sorts activities based on pActivity
                    */
                    var sortedActivityElement = pairedActivityElements.sort(function(a,b) {
                        return a.element.pActivity.localeCompare(b.element.pActivity)
                    })

                    return sortedActivityElement;
                },
                relationElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'relation';
                    });
                },
                reasonElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'reason';
                    });
                },
            },
            methods: {
                generateGunfpId: function (prefix) {
                    /* 
                        Generate a unique id based on a prefix. this is used for element indetification
                    */
                    return `${prefix}-` + Date.now() + '-' + Math.floor(Math.random() * 1000);
                },
                elementUpdated: function(element, nodeKey) {
                    /* 
                        Checks whether a node has the corrent id format
                    */
                    if (!/^(activity-|relation-|reason-|metadata-)/.test(nodeKey)) {
                        return;
                    }
                    var existingElementIndex = this.elements.findIndex(function(element) {
                        return element.key === nodeKey
                    });

                    /*
                        Check whether element is null, if so remove the item from the activity list
                    */
                    if (element === null) {
                        this.elements.splice(existingElementIndex, 1);
                        return;
                    }

                    /*
                        If element is not null, store to the index
                    
                    */
                    var elementToStore = {
                        element: element,
                        key: nodeKey
                    };
                    if (existingElementIndex === -1) {
                        this.elements.push(elementToStore);
                    } else {
                        this.elements.splice(existingElementIndex, 1, elementToStore);
                    };

                    /*
                        If element does exist, check the type of the element and whether the item already indexed, if not push to local
                    */
                    if (/^(activity-)/.test(nodeKey)) {
                        var existingActivityIndex = this.activities.findIndex(function(activity) {
                            return activity === elementToStore.element.pActivity
                        });
                        if (existingActivityIndex === -1) {
                            this.activities.push(elementToStore.element.pActivity);
                        };
                    };
                    if (/^(relation-)/.test(nodeKey)) {
                        console.log('test')
                        var existingRelationIndex = this.relations.findIndex(function(relation) {
                            return relation === elementToStore.element.symbol
                        });
                        if (existingRelationIndex === -1) {
                            this.relations.push(elementToStore.element.symbol);
                        };
                    };
                    if (/^(reason-)/.test(nodeKey)) {
                        var existingReasonIndex = this.reasons.findIndex(function(reason) {
                            return reason === elementToStore.element.symbol
                        });
                        if (existingReasonIndex === -1) {
                            this.reasons.push(elementToStore.element.symbol);
                        };
                    };
                },
                createActivityElement: function() {
                    /* 
                        Check whether newActivity has been filled
                    */
                    if (this.newActivity.pActivity === '') {
                        this.openNotification('Activity name must not be empty');
                        return;
                    }

                    /*
                        If there are no activities, store the activity in the activities index and exit
                    */
                    if (this.activities.length === 0) {
                        this.activities.push(this.newActivity.pActivity)
                        this.newActivity = {
                            pActivity: '',
                            sActivity: '',
                            relation: '',
                            reason: '',
                            type: 'activity'
                        };
                        return;
                    };

                    /*
                        Check whether this element already exist in the activities index
                    */
                    var newActivityName  = this.newActivity.pActivity;                    
                    var existingActivityIndex = this.activities.findIndex(function(activity) {
                        return activity.replace(/\s+/g, '') === newActivityName.replace(/\s+/g, '');
                    });
                    if (existingActivityIndex !== -1) {
                        this.openNotification('Activity name must be unique');
                        this.newActivity = {
                            pActivity: '',
                            sActivity: '',
                            relation: '',
                            reason: '',
                            type: 'activity'
                        };
                        return;
                    }

                    /*
                        Check whether the activities are more than one and generate a triangular combinations if so
                    */
                    this.activities.push(this.newActivity.pActivity)
                    for (
                        let i = 0; 
                        i < this.activities.length - 1; 
                        i++
                    ) {
                        var currentActivityIndex = this.activities.length - 1;

                        var id = this.generateGunfpId('activity')
                        var dbNewActivity = db.get(id);

                        dbNewActivity.put({
                            pActivity: this.activities[i],
                            sActivity: this.activities[currentActivityIndex],
                            weight: '',
                            reason: '',
                            type: 'activity'
                        });
                        db.set(dbNewActivity);
                    };

                    /*
                        Reset the field
                    */
                    this.newActivity = {
                        pActivity: '',
                        sActivity: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    };
                },
                deleteActivity: function (targetActivity) {
                    /*
                        Get node ids where the pActivity key is the same as targetActivity and delete
                    */
                    let activityElementKeystoDelete = this.activityElements.map((activityElement) => {
                        if (activityElement.element.pActivity === targetActivity.element.pActivity) {
                            return activityElement.key;
                        } else {
                            return false;
                        };
                    });

                    activityElementKeystoDelete.forEach((elementKey) => {
                        if (elementKey) {
                            db.get(elementKey).put(null);
                        };
                    });

                    /*
                        Update the activities index to exclude the targetActivity pActivity
                    */
                    var existingActivityIndex = this.activities.findIndex(function(activity) {
                        return activity === targetActivity.element.pActivity
                    });
                    this.activities.splice(existingActivityIndex, 1);
                },
                setActivityRelation: function(activity) {
                    /*
                        Set activity changes to gundb
                    */
                    db.get(activity.key).put({
                        relation: activity.element.relation
                    });
                },
                createRelationElement: function() {
                    /* 
                        Check whether newRelation has been filled
                        TODO: Add warning to user
                    */
                    if (
                        this.newRelation.symbol === ''
                    ) {
                        this.openNotification('Relation symbol must not be empty');
                        return;
                    }

                    if (
                        this.newRelation.description === ''
                    ) {
                        this.openNotification('Relation description must not be empty');
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                        TODO: Add warning to user
                    */
                    var newRelationSymbol  = this.newRelation.symbol;
                    var existingRelationIndex = this.relations.findIndex(function(relation) {
                        return relation.replace(/\s+/g, '') === newRelationSymbol.replace(/\s+/g, '');
                    });
                    if (existingRelationIndex !== -1) {
                        this.openNotification('Relation symbol must be unique');
                        this.newRelation = {
                            symbol: '',
                            description: '',
                            type: 'relation'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'relation' and store it to db
                    */
                    var id = this.generateGunfpId('relation')
                    var newRelation = db.get(id);

                    newRelation.put(this.newRelation);
                    db.set(newRelation);
                    
                    /*
                        Reset the field
                    */
                    this.newRelation = {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    };
                },
                deleteRelation: function (targetRelation) {
                    /*
                        Get node ids where the pActivity key is the same as targetActivity and delete
                    */
                    let relationElementKeystoDelete = this.relationElements.map((relationElement) => {
                        if (relationElement.element.symbol === targetRelation.element.symbol) {
                            return relationElement.key;
                        } else {
                            return false;
                        };
                    });

                    relationElementKeystoDelete.forEach((elementKey) => {
                        if (elementKey) {
                            db.get(elementKey).put(null);
                        };
                    });

                    /*
                        Update the activities index to exclude the targetActivity pActivity
                    */
                    var existingRelationIndex = this.relations.findIndex(function(relation) {
                        return relation === targetRelation.element.symbol
                    });
                    this.relations.splice(existingRelationIndex, 1);
                },
                createReasonElement: function() {
                    /* 
                        Check whether newRelation has been filled
                    */
                    if (
                        this.newReason.symbol === ''
                    ) {
                        this.openNotification('Reason symbol must not be empty');
                        return;
                    }

                    if (
                        this.newReason.description === ''
                    ) {
                        this.openNotification('Reason description must not be empty');
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                    */
                    var newReasonSymbol  = this.newReason.symbol;
                    var existingReasonIndex = this.reasons.findIndex(function(reason) {
                        return reason.replace(/\s+/g, '') === newReasonSymbol.replace(/\s+/g, '');
                    });
                    if (existingReasonIndex !== -1) {
                        this.openNotification('Reason symbol must be unique');
                        this.newReason = {
                            symbol: '',
                            description: '',
                            type: 'reason'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'reason' and store it to db
                    */
                    var id = this.generateGunfpId('reason')
                    var newReason = db.get(id);

                    newReason.put(this.newReason);
                    db.set(newReason);
                    
                    /*
                        Reset the field
                    */
                    this.newReason = {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    };
                },
                deleteReason: function (targetReason) {
                    /*
                        Get node ids where the pActivity key is the same as targetActivity and delete
                    */
                    let reasonElementKeystoDelete = this.reasonElements.map((reasonElement) => {
                        if (reasonElement.element.symbol === targetReason.element.symbol) {
                            return reasonElement.key;
                        } else {
                            return false;
                        };
                    });

                    reasonElementKeystoDelete.forEach((elementKey) => {
                        if (elementKey) {
                            db.get(elementKey).put(null);
                        };
                    });

                    /*
                        Update the activities index to exclude the targetActivity pActivity
                    */
                    var existingReasonIndex = this.reasons.findIndex(function(reason) {
                        return reason === targetReason.element.symbol
                    });
                    this.reasons.splice(existingReasonIndex, 1);
                },
                createARCDiagram: function () {
                    /*
                        Paper setup and metadata config
                    */
                    paper.setup('arc-svg');

                    const padX = this.newMetadata.pad_x;
                    const padY = this.newMetadata.pad_y;
                    const dimH = this.newMetadata.height;
                    const dimL = this.newMetadata.length;

                    const numTile = this.activities.length;
                    const diadimH = dimH / Math.sqrt(2);

                    /*
                        Set the starting point from top left corner (NW)
                    */
                    const startPoint = new paper.Point(
                        padX + dimL,
                        padY - (diadimH * numTile)
                    );

                    /*
                        Set the anchor point for rotation of the relations table
                    */
                    const anchorPoint = new paper.Point(
                        startPoint.x,
                        startPoint.y + (diadimH * numTile)
                    );

                    /*
                        Draws the line from the starting point then rotates
                        |-|-|-|
                          |-|-|
                            |-|
                    */
                    for (var i = 0; i < numTile; i++) {
                        var tileHLine = new paper.Path.Line(
                            new paper.Point(
                                startPoint.x, 
                                startPoint.y + (diadimH * i) 
                            ), 
                            new paper.Point(
                                startPoint.x + (diadimH * (numTile - i)), 
                                startPoint.y + (diadimH * i)
                            )
                        );
                        tileHLine.strokeColor = 'black';
                        tileHLine.rotate(135, anchorPoint);

                        var tileVLine = new paper.Path.Line(
                            new paper.Point(
                                startPoint.x + (diadimH * i), 
                                startPoint.y
                            ), 
                            new paper.Point(
                                startPoint.x + (diadimH * i), 
                                startPoint.y + (diadimH * (numTile - i))
                            )
                        );
                        tileVLine.strokeColor = 'black';
                        tileVLine.rotate(135, anchorPoint);

                        /*
                            Draws the box and fill it with the right content
                        */
                        for (var j = 0; j < (numTile-i-1); j++) {
                            var scoreBox = new paper.Path.Rectangle({
                                point: [
                                    startPoint.x + (i * diadimH) + (0.2 *diadimH), 
                                    startPoint.y + (diadimH * j) + (0.2 *diadimH)
                                ],
                                size: [diadimH * 0.6, diadimH * 0.6],
                            });
                            scoreBox.rotate(135, anchorPoint);

                            var scoreText = new paper.PointText({
                                point: [
                                    startPoint.x + (i * diadimH),
                                    startPoint.y + (diadimH * j)
                                ],
                            });

                            var pActicity = this.activities[i];
                            var sActivity = this.activities[this.activities.length - 1 - j]
                            var scoreIndex = this.activityElements.findIndex(function(activity) {
                                return activity.element.pActivity === pActicity && activity.element.sActivity === sActivity;
                            });

                            if (scoreIndex === -1) {
                                scoreText.content = ``;
                                scoreText.fillColor = 'black';
                                scoreText.fitBounds(scoreBox.bounds); 
                            } else {
                                scoreText.content = this.activityElements[scoreIndex].element.relation === '0' || !this.activityElements[scoreIndex].element.relation ? '' : this.activityElements[scoreIndex].element.relation;
                                scoreText.fillColor = 'black';
                                scoreText.fitBounds(scoreBox.bounds); 
                            }
                        }
                    };

                    /*
                        Draw the topline of the activities table
                    */
                    for (var i = 0; i <= numTile; i++) {
                        var hLine = new paper.Path.Line(
                            new paper.Point(
                                padX, 
                                padY + (diadimH * Math.sqrt(2) * i) 
                            ), 
                            new paper.Point(
                                padX + dimL, 
                                padY + (diadimH * Math.sqrt(2) * i)
                            )
                        );
                        hLine.strokeColor = 'black';
                    };

                    /*
                        Draw text for each table, the fit of the text is determined by height and length
                    */
                    for (var i = 0; i < numTile; i++) {
                        var labelText = new paper.PointText({
                            point: [
                                padX + (0.05 * dimL),
                                padY + (diadimH * Math.sqrt(2) * i) +  (diadimH * Math.sqrt(2) * 0.70)
                            ],
                        });
                        labelText.content = this.activities[i];
                        labelText.fontSize = diadimH * Math.sqrt(2) * 0.5;
                        labelText.fillColor = 'black';
                    };

                    /*
                        Close the bottomline of the activities table
                    */
                    var openingVLine = new paper.Path.Line(
                        new paper.Point(
                            padX, 
                            padY
                        ), 
                        new paper.Point(
                            padX, 
                            padY + (diadimH * Math.sqrt(2) * numTile)
                        )
                    );
                    openingVLine.strokeColor = 'black';

                    /*
                        Resize the canvas so that it matches the settings
                    */
                    paper.view.viewSize = new paper.Size(
                        (padX * 2) + dimL + (dimH * numTile), 
                        (padY * 2) + (dimH * numTile)
                    );

                    /*
                        Create the download link
                    */
                    this.svgDownloadURL = "data:image/svg+xml;utf8," + encodeURIComponent(paper.project.exportSVG({asString:true}))
                },
                createRelationsForARC: function () {
                    /*
                        The most popular relation set for ARC
                    */
                    const ARC_RELATIONS = [
                        {
                            symbol: '0',
                            description: 'Relation Not Set',
                            type: 'relation'
                        },
                        {
                            symbol: 'A',
                            description: 'Absolutely Necessary',
                            type: 'relation'
                        },
                        {
                            symbol: 'E',
                            description: 'Especially Important',
                            type: 'relation'
                        },
                        {
                            symbol: 'I',
                            description: 'Important',
                            type: 'relation'
                        },
                        {
                            symbol: 'O',
                            description: 'Ordinary Closeness',
                            type: 'relation'
                        },
                        {
                            symbol: 'U',
                            description: 'Unnecessary',
                            type: 'relation'
                        },
                        {
                            symbol: 'X',
                            description: 'Avoid Closeness',
                            type: 'relation'
                        },
                    ];

                    ARC_RELATIONS.forEach((arcRelation) => {
                        /*
                            Check whether this element already exist in the relations index
                            TODO: Add warning to user
                        */
                        var newReasonSymbol  = arcRelation.symbol;
                        var existingReasonIndex = this.reasons.findIndex(function(reason) {
                            return reason === newReasonSymbol;
                        });
                        if (existingReasonIndex !== -1) {
                            return;
                        }

                        /*
                            Generate a new node based on an Id starting with 'reason' and store it to db
                        */
                        var id = this.generateGunfpId('reason')
                        var newReason = db.get(id);

                        newReason.put(arcRelation);
                        db.set(newReason);
                        this.relations.push(arcRelation.symbol)
                    })
                },
                openModal: function () {
                    this.createARCDiagram();
                    document.getElementById("overlay").style.display = "block";
                },
                closeModal: function () {
                    document.getElementById("overlay").style.display = "none";
                },
                openNotification: function (msg) {
                    this.notificationMessage = msg;
                    document.getElementById("notification").style.display = "block";

                    setTimeout(() => {
                        document.getElementById("notification").style.display = "none";
                        this.notificationMessage = false;
                    }, 2000);
                },
                downloadSVG: function () {
                    var link = document.createElement("a");
                    link.download = "svgdiagram_arc.svg";
                    link.href = this.svgDownloadURL;
                    link.click();
                },
                connectAndListenToGunfp: function () {
                    db.map().on(this.elementUpdated.bind(this));
                },
                disconnectFromGunfp: function () {
                    db.map().off();
                },
                connectAndListenToNewGunfp: function () {
                    /*
                        Check if user inputted gunfp id is not empty
                    */
                    if (this.gunfpId === '') {
                        this.openNotification('gunfpId cannot be empty');
                        return;
                    };

                    /*
                        Check if user inputted gunfp id follows the format
                    */
                    if (!/^(gunfp-)/.test(this.gunfpId)) {
                        this.openNotification('this is not a valid gunfpid');
                        return;
                    };

                    /*
                        Stop listening to changes from previous nodes
                    */
                    this.disconnectFromGunfp();

                    /*
                        Listen to new db
                    */
                    db = gun.get('wira-pratama-gunfp').get(this.gunfpId);

                    /*
                        Clear previous data
                    */
                    this.elements = []
                    this.activities = []
                    this.relations = []
                    this.reasons = []
                    this.newMetadata = {
                        title: '',
                        subtitle: '',
                        author: '',
                        pad_x: 40,
                        pad_y: 20,
                        height: 20,
                        length: 120,
                        type: 'metadata'
                    }
                    this.newActivity = {
                        pActivity: '',
                        sActivity: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    }
                    this.newRelation = {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    }
                    this.newReason = {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    }
                    this.svgDownloadURL = false
                    this.notificationMessage = false
                    
                    /*
                        Connect, store, and notify upon connecting to a new node
                    */
                    this.connectAndListenToGunfp();
                    localStorage.setItem('gunfpId', this.gunfpId);
                    this.openNotification('successfully connected to the workspace');
                }
            },
            mounted: function () {
                console.log('using own relay server')

                /*
                    Checks whether there is a previous gunfpId stored and connect to that, if not then crate a new one
                */
                let previousGunFPID = localStorage.getItem('gunfpId');
                if (previousGunFPID) {
                    /*
                        Sets local gunfpId
                    */
                    this.gunfpId = previousGunFPID;

                    /*
                        Connect to db
                    */
                    db = gun.get('wira-pratama-gunfp').get(this.gunfpId);

                    /*
                        Listen to changes on db
                    */
                    this.connectAndListenToGunfp();
                } else {
                    /*
                        Sets local gunfpId
                    */
                    this.gunfpId = this.generateGunfpId('gunfp');

                    /*
                        Stores new gunfpid to localStorage
                    */
                    localStorage.setItem('gunfpId', this.gunfpId);

                    /*
                        Connect to db
                    */
                    db = gun.get('wira-pratama-gunfp').get(this.gunfpId);

                    /*
                        Listen to changes on db
                    */
                    this.connectAndListenToGunfp();
                }
            }
        }).mount("#app");
    </script>
</html>