<!doctype html>
<html>
    <head>
        <title>gunfp: Decentralized "Facility Planning" Software</title>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/gun/gun.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src=" https://cdn.jsdelivr.net/npm/paper@0.12.18/dist/paper-full.min.js "></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-core.min.js"></script>


        <link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

        <style>
            body,
            html {
                max-width: 100vw;
            }

            .bungee {
                font-family: "Bungee Tint", sans-serif;
                font-weight: 400;
                font-style: normal;
            }

            .fira-sans-light {
                font-family: "Fira Sans", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

            .fira-sans-medium {
                font-family: "Fira Sans", sans-serif;
                font-weight: 600;
                font-style: normal;
            }

            #overlay {
                position: fixed;
                display: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                cursor: pointer;
            }

            #content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
            }
        </style>
    </head>

    <body>
        <main 
            id="app"
            classs="max-w-screen"
        >
            <!-- Overlay -->
            <div id="overlay">
                <div id="content">
                    <div class="bg-white h-fit w-[40vw] p-4 rounded-lg flex flex-col space-y-4">
                        <div>
                            <h2 class="fira-sans-medium text-base">Generated ARC Diagram</h2>
                        </div>
                        <div>
                            <canvas
                                class="border rounded-lg h-full w-full"
                                id="arc-svg"
                            >
                            </canvas> 
                        </div>
                        <div class="flex flex-row justify-end space-x-2">
                            <button
                                @click="closeModal"
                                class="bg-green-300 border text-xs p-1 mb-3 rounded-lg firsa-sans-light shadow"
                            >
                                Download as SVG
                            </button>
                            <button
                                @click="closeModal"
                                class="bg-gray-300 border text-xs p-1 mb-3 rounded-lg firsa-sans-light shadow"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- Main App -->
            <div class="px-20 py-12 flex flex-col space-y-4">
                <div>
                    <h1 class="text-3xl"> 
                        <span class="bungee">wira-pratama/GUNFP:</span>
                        <span class="fira-sans-light pl-2">Activity Relationship Chart Made Easy</span>
                        
                    </h1>
                    <p class="firsa-sans-light pt-2 text-sm">
                        GUNFP is a decentralized single file app created to aid in creating facility planning diagrams collaboratively 
                    </p>
                    <p class="pt-1 text-xs firsa-sans-light text-gray-500">
                        Created by wira-pratama
                    </p>
                    
                </div>

                <div>
                    <h2 class="fira-sans-medium text-base">Manage Activities</h2>
                    <p class="firsa-sans-light py-1 text-xs">
                        This is where you create and set relations and reasons for your activities.
                    </p>
                    <div 
                        class=""
                    >
                        <input
                            type="text"
                            placeholder="Activity name" 
                            v-model="newActivity.pActivity"
                            @keyup.enter="createActivityElement"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <div v-if="activities.length === 1">
                            <label class="text-xs fira-sans-light text-gray-500">You need minimum of two activity, the one you just input was: "{{ activities[0] }}"</label>
                        </div>
                    </div>
                    <div class="mt-2 pl-2">
                        <div class="fira-sans-light my-1 flex flex-row space-x-2 border-b" v-for="activity in activityElements">
                            <div class="w-1/4">
                                <label>{{ activity.element.pActivity }}</label>
                            </div>
                            <div class="w-1/4">
                                <label>{{ activity.element.sActivity }}</label>
                            </div> 
                            <div class="w-1/4">
                                <select 
                                    @change="setActivityRelation(activity)"
                                    v-model="activity.element.relation"
                                    class="select w-full select-bordered font-secondary"
                                >
                                    <option
                                        v-for="relation in relationElements"
                                        :value="relation.element.symbol" 
                                        :key="relation.key"
                                        class="font-secondary"
                                    >
                                        {{ relation.element.description }}
                                    </option>
                                </select>
                            </div>
                            <div class="w-1/4">

                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="fira-sans-medium text-base">Manage Relations</h2>
                    <p class="firsa-sans-light py-1 text-xs">
                        This is where you specify your closeness ratings.
                    </p>
                    <button
                        class="bg-yellow-300 border text-xs p-1 mb-3 rounded-lg firsa-sans-light shadow"
                        @click="createRelationsForARC"
                    >
                        use Activity Relationship Chart Closeness Ratings
                    </button>

                    <form 
                        class="flex flex-row space-x-2"
                        @submit.prevent="createRelationElement"
                    >
                        <input
                            required
                            type="text"
                            placeholder="Relation symbol" 
                            v-model="newRelation.symbol"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input
                            required
                            type="text"
                            placeholder="Relation description" 
                            v-model="newRelation.description"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input type="submit" style="display: none" />
                    </form>
                    <div class="mt-2">
                        <div class="fira-sans-light" v-for="relation in relationElements">
                            <label>{{ relation.element.symbol }} - {{ relation.element.description }}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="fira-sans-medium text-base">Manage Causes</h2>
                    <form 
                        class="flex flex-row space-x-2"
                        @submit.prevent="createReasonElement"
                    >
                        <input
                            required
                            type="text"
                            placeholder="Reasoning symbol/id" 
                            v-model="newReason.symbol"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input
                            required
                            type="text"
                            placeholder="Reasoning description" 
                            v-model="newReason.description"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input type="submit" style="display: none" />
                    </form>
                    <div class="mt-2">
                        <div class="fira-sans-light"v-for="reason in reasonElements">
                            <label>{{ reason.element.symbol }} - {{ reason.element.description }}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <button 
                        @click="openModal()"
                        class="bg-green-600 text-white w-full fira-sans-medium rounded-lg py-2"
                    >
                        Generate ARC Diagram
                    </button>
                </div>
            </div>
        </main>
    </body>

    <script>
        localStorage.clear();
        var gun = new Gun();
        
        // var gun = new Gun(['https://gun-manhattan.herokuapp.com/gun']);
        var db = gun.get('wira-pratama-gunfps-dep2');

        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    elements: [],
                    activities: [],
                    relations: [],
                    reasons: [],
                    newMetadata: {
                        title: '',
                        subtitle: '',
                        author: '',
                        pad_x: 40,
                        pad_y: 20,
                        height: 20,
                        length: 120,
                        type: 'metadata'
                    },
                    newActivity: {
                        pActivity: '',
                        sActivity: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    },
                    newRelation: {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    },
                    newReason: {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    },
                    activityPlaceholder: false
                };
            },
            computed: {
                activityElements: function() {
                    /*
                        Find all activities that are paired (have sActivity)
                    */
                    var pairedActivityElements = this.elements.filter(function(element) {
                        return element.element.type === 'activity' && element.element.sActivity;
                    });

                    /*
                        This sorts activities based on pActivity
                    */
                    var sortedActivityElement = pairedActivityElements.sort(function(a,b) {
                        return a.element.pActivity.localeCompare(b.element.pActivity)
                    })

                    return sortedActivityElement;
                },
                relationElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'relation';
                    });
                },
                reasonElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'reason';
                    });
                },
            },
            methods: {
                generateGunfpId: function (prefix) {
                    return `${prefix}-` + Date.now() + '-' + Math.floor(Math.random() * 1000);
                },
                elementUpdated: function(element, nodeKey) {
                    /* 
                        Checks whether a node has the corrent id format and store it to local elements
                    */
                    if (!/^(activity-|relation-|reason-|metadata-)/.test(nodeKey)) {
                        return;
                    }
                    var existingElementIndex = this.elements.findIndex(function(element) {
                        return element.key === nodeKey
                    });
                    var elementToStore = {
                        element: element,
                        key: nodeKey
                    };
                    if (existingElementIndex === -1) {
                        this.elements.push(elementToStore);
                    } else {
                        this.elements.splice(existingElementIndex, 1, elementToStore);
                    };

                    /*
                        If element does exist, check the type of the element and whether the item already indexed, if not push to local
                    */
                    if (/^(activity-)/.test(nodeKey)) {
                        var existingActivityIndex = this.activities.findIndex(function(activity) {
                            return activity === elementToStore.element.pActivity
                        });
                        if (existingActivityIndex === -1) {
                            this.activities.push(elementToStore.element.pActivity);
                        };
                    };
                    if (/^(relation-)/.test(nodeKey)) {
                        console.log('test')
                        var existingRelationIndex = this.relations.findIndex(function(relation) {
                            return relation === elementToStore.element.symbol
                        });
                        if (existingRelationIndex === -1) {
                            this.relations.push(elementToStore.element.symbol);
                        };
                    };
                    if (/^(reason-)/.test(nodeKey)) {
                        var existingReasonIndex = this.reasons.findIndex(function(reason) {
                            return reason === elementToStore.element.symbol
                        });
                        if (existingReasonIndex === -1) {
                            this.reasons.push(elementToStore.element.symbol);
                        };
                    };
                },
                createActivityElement: function() {
                    /* 
                        Check whether newActivity has been filled
                        TODO: Add warning to user
                    */
                    if (this.newActivity.pActivity === '') {
                        return;
                    }

                    /*
                        If there are no activities, store the activity in the activities index and exit
                    */
                    if (this.activities.length === 0) {
                        this.activities.push(this.newActivity.pActivity)
                        this.newActivity = {
                            pActivity: '',
                            sActivity: '',
                            relation: '',
                            reason: '',
                            type: 'activity'
                        };
                        return;
                    };

                    /*
                        Check whether this element already exist in the activities index
                        TODO: Add warning to user
                        TODO: Strips of spaces and lower case first
                    */
                    var newActivityName  = this.newActivity.pActivity;
                    if (newActivityName == this.activityPlaceholder) {
                        this.newActivity = {
                            pActivity: '',
                            sActivity: '',
                            relation: '',
                            reason: '',
                            type: 'activity'
                        };
                        return;
                    };

                    
                    var existingActivityIndex = this.activities.findIndex(function(activity) {
                        return activity === newActivityName;
                    });
                    if (existingActivityIndex !== -1) {
                        this.newActivity = {
                            pActivity: '',
                            sActivity: '',
                            relation: '',
                            reason: '',
                            type: 'activity'
                        };
                        return;
                    }

                    /*
                        Check whether the activities are more than one and generate a triangular combinations if so
                    */
                    this.activities.push(this.newActivity.pActivity)
                    for (
                        let i = 0; 
                        i < this.activities.length - 1; 
                        i++
                    ) {
                        var currentActivityIndex = this.activities.length - 1;

                        var id = this.generateGunfpId('activity')
                        var dbNewActivity = db.get(id);

                        dbNewActivity.put({
                            pActivity: this.activities[i],
                            sActivity: this.activities[currentActivityIndex],
                            weight: '',
                            reason: '',
                            type: 'activity'
                        });
                        db.set(dbNewActivity);
                    };
                    /*
                        Reset the field
                    */
                    this.newActivity = {
                        pActivity: '',
                        sActivity: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    };
                },
                setActivityRelation: function(activity) {
                    /*
                        Set activity changes to gundb
                    */
                    db.get(activity.key).put({
                        relation: activity.element.relation
                    });
                },
                createRelationElement: function() {
                    /* 
                        Check whether newRelation has been filled
                        TODO: Add warning to user
                    */
                    if (
                        this.newRelation.symbol === '' ||
                        this.newRelation.description === ''
                    ) {
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                        TODO: Add warning to user
                    */
                    var newRelationSymbol  = this.newRelation.symbol;
                    var existingRelationIndex = this.relations.findIndex(function(relation) {
                        return relation === newRelationSymbol;
                    });
                    if (existingRelationIndex !== -1) {
                        this.newRelation = {
                            symbol: '',
                            description: '',
                            type: 'relation'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'relation' and store it to db
                    */
                    var id = this.generateGunfpId('relation')
                    var newRelation = db.get(id);

                    newRelation.put(this.newRelation);
                    db.set(newRelation);
                    
                    /*
                        Reset the field
                    */
                    this.newRelation = {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    };
                },
                createReasonElement: function() {
                    /* 
                        Check whether newRelation has been filled
                        TODO: Add warning to user
                    */
                    if (
                        this.newReason.symbol === '' ||
                        this.newReason.description === ''
                    ) {
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                        TODO: Add warning to user
                    */
                    var newReasonSymbol  = this.newReason.symbol;
                    var existingReasonIndex = this.reasons.findIndex(function(reason) {
                        return reason === newReasonSymbol;
                    });
                    if (existingReasonIndex !== -1) {
                        this.newReason = {
                            symbol: '',
                            description: '',
                            type: 'reason'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'reason' and store it to db
                    */
                    var id = this.generateGunfpId('reason')
                    var newReason = db.get(id);

                    newReason.put(this.newReason);
                    db.set(newReason);
                    
                    /*
                        Reset the field
                    */
                    this.newReason = {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    };
                },
                createARCDiagram: function () {
                    paper.setup('arc-svg');

                    const padX = this.newMetadata.pad_x;
                    const padY = this.newMetadata.pad_y;
                    const dimH = this.newMetadata.height;
                    const dimL = this.newMetadata.length;

                    const numTile = this.activities.length;
                    const diadimH = dimH / Math.sqrt(2);

                    const startPoint = new paper.Point(
                        padX + dimL,
                        padY - (diadimH * numTile)
                    );

                    const anchorPoint = new paper.Point(
                        startPoint.x,
                        startPoint.y + (diadimH * numTile)
                    );

                    for (var i = 0; i < numTile; i++) {
                        var tileHLine = new paper.Path.Line(
                            new paper.Point(
                                startPoint.x, 
                                startPoint.y + (diadimH * i) 
                            ), 
                            new paper.Point(
                                startPoint.x + (diadimH * (numTile - i)), 
                                startPoint.y + (diadimH * i)
                            )
                        );
                        tileHLine.strokeColor = 'black';
                        tileHLine.rotate(135, anchorPoint);

                        var tileVLine = new paper.Path.Line(
                            new paper.Point(
                                startPoint.x + (diadimH * i), 
                                startPoint.y
                            ), 
                            new paper.Point(
                                startPoint.x + (diadimH * i), 
                                startPoint.y + (diadimH * (numTile - i))
                            )
                        );
                        tileVLine.strokeColor = 'black';
                        tileVLine.rotate(135, anchorPoint);


                        for (var j = 0; j < (numTile-i-1); j++) {
                            var scoreBox = new paper.Path.Rectangle({
                                point: [
                                    startPoint.x + (i * diadimH) + (0.2 *diadimH), 
                                    startPoint.y + (diadimH * j) + (0.2 *diadimH)
                                ],
                                size: [diadimH * 0.6, diadimH * 0.6],
                            });
                            scoreBox.rotate(135, anchorPoint);

                            var scoreText = new paper.PointText({
                                point: [
                                    startPoint.x + (i * diadimH),
                                    startPoint.y + (diadimH * j)
                                ],
                            });

                            var pActicity = this.activities[i];
                            var sActivity = this.activities[this.activities.length - 1 - j]
                            var scoreIndex = this.activityElements.findIndex(function(activity) {
                                return activity.element.pActivity === pActicity && activity.element.sActivity === sActivity;
                            });

                            if (scoreIndex === -1) {
                                scoreText.content = ``;
                                scoreText.fillColor = 'black';
                                scoreText.fitBounds(scoreBox.bounds); 
                            } else {
                                scoreText.content = this.activityElements[scoreIndex].element.relation === '0' || !this.activityElements[scoreIndex].element.relation ? '' : this.activityElements[scoreIndex].element.relation;
                                scoreText.fillColor = 'black';
                                scoreText.fitBounds(scoreBox.bounds); 
                            }
                        }
                    };

                    for (var i = 0; i <= numTile; i++) {
                        var hLine = new paper.Path.Line(
                            new paper.Point(
                                padX, 
                                padY + (diadimH * Math.sqrt(2) * i) 
                            ), 
                            new paper.Point(
                                padX + dimL, 
                                padY + (diadimH * Math.sqrt(2) * i)
                            )
                        );
                        hLine.strokeColor = 'black';
                    };

                    for (var i = 0; i < numTile; i++) {
                        var labelText = new paper.PointText({
                            point: [
                                padX + (0.05 * dimL),
                                padY + (diadimH * Math.sqrt(2) * i) +  (diadimH * Math.sqrt(2) * 0.70)
                            ],
                        });
                        labelText.content = this.activities[i];
                        labelText.fontSize = diadimH * Math.sqrt(2) * 0.5;
                        labelText.fillColor = 'black';
                    };

                    var openingVLine = new paper.Path.Line(
                        new paper.Point(
                            padX, 
                            padY
                        ), 
                        new paper.Point(
                            padX, 
                            padY + (diadimH * Math.sqrt(2) * numTile)
                        )
                    );
                    openingVLine.strokeColor = 'black';

                    paper.view.viewSize = new paper.Size(
                        (padX * 2) + dimL + (dimH * numTile), 
                        (padY * 2) + (dimH * numTile)
                    );
                },
                createRelationsForARC: function () {
                    const ARC_RELATIONS = [
                        {
                            symbol: '0',
                            description: 'Relation Not Set',
                            type: 'relation'
                        },
                        {
                            symbol: 'A',
                            description: 'Absolutely Necessary',
                            type: 'relation'
                        },
                        {
                            symbol: 'E',
                            description: 'Especially Important',
                            type: 'relation'
                        },
                        {
                            symbol: 'I',
                            description: 'Important',
                            type: 'relation'
                        },
                        {
                            symbol: 'O',
                            description: 'Ordinary Closeness',
                            type: 'relation'
                        },
                        {
                            symbol: 'U',
                            description: 'Unnecessary',
                            type: 'relation'
                        },
                        {
                            symbol: 'X',
                            description: 'Avoid Closeness',
                            type: 'relation'
                        },
                    ];

                    ARC_RELATIONS.forEach((arcRelation) => {
                        /*
                            Check whether this element already exist in the relations index
                            TODO: Add warning to user
                        */
                        var newReasonSymbol  = arcRelation.symbol;
                        var existingReasonIndex = this.reasons.findIndex(function(reason) {
                            return reason === newReasonSymbol;
                        });
                        if (existingReasonIndex !== -1) {
                            return;
                        }

                        /*
                            Generate a new node based on an Id starting with 'reason' and store it to db
                        */
                        var id = this.generateGunfpId('reason')
                        var newReason = db.get(id);

                        newReason.put(arcRelation);
                        db.set(newReason);
                        this.relations.push(arcRelation.symbol)
                    })
                },
                openModal: function () {
                    this.createARCDiagram();
                    document.getElementById("overlay").style.display = "block";
                },
                closeModal: function () {
                    document.getElementById("overlay").style.display = "none";
                },
            },
            mounted: function () {
                /*
                    Subscribe on the data
                */
                db.map().on(this.elementUpdated.bind(this));
            }
        }).mount("#app");
    </script>
</html>