<!doctype html>
<html>
    <head>
        <title>gunfp: Decentralized "Facility Planning" Software</title>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/gun/gun.js" type="text/javascript" charset="utf-8"></script>

        <link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

        <style>
            body,
            html {
                max-width: 100vw;
            }

            .bungee {
                font-family: "Bungee Tint", sans-serif;
                font-weight: 400;
                font-style: normal;
            }

            .fira-sans-light {
                font-family: "Fira Sans", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

            .fira-sans-medium {
                font-family: "Fira Sans", sans-serif;
                font-weight: 600;
                font-style: normal;
            }
        </style>
    </head>

    <body>
        <main 
            id="app"
            classs="max-w-screen"
        >
            <div class="px-20 py-12 flex flex-col space-y-4">
                <div>
                    <h1 class="text-3xl"> 
                        <span class="bungee">wira-pratama/GUNFP:</span>
                        <span class="fira-sans-light pl-2">Activity Relationship Chart Made Easy</span>
                        
                    </h1>
                    <p class="firsa-sans-light pt-2 text-sm">
                        GUNFP is a decentralized single file app created to aid in creating facility planning diagrams collaboratively 
                    </p>
                    <p class="pt-1 text-xs firsa-sans-light text-gray-500">
                        Created by wira-pratama
                    </p>
                    
                </div>
                
                <div>
                    <h2 class="fira-sans-medium text-base">Manage Activities</h2>
                    <div 
                        class=""
                    >
                        <input
                            type="text"
                            placeholder="Activity name" 
                            v-model="newActivity.name"
                            @keyup.enter="createActivityElement"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                    </div>
                    <div class="mt-2">
                        <div class="fira-sans-light my-1" v-for="activity in activityElements">
                            <label>{{ activity.element.name }}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="fira-sans-medium text-base">Manage Relations</h2>
                    <form 
                        class="flex flex-row space-x-2"
                        @submit.prevent="createRelationElement"
                    >
                        <input
                            required
                            type="text"
                            placeholder="Relation symbol" 
                            v-model="newRelation.symbol"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input
                            required
                            type="text"
                            placeholder="Relation description" 
                            v-model="newRelation.description"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input type="submit" style="display: none" />
                    </form>
                    <div class="mt-2">
                        <div class="fira-sans-light" v-for="relation in relationElements">
                            <label>{{ relation.element.symbol }} - {{ relation.element.description }}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="fira-sans-medium text-base">Manage Causes</h2>
                    <form 
                        class="flex flex-row space-x-2"
                        @submit.prevent="createReasonElement"
                    >
                        <input
                            required
                            type="text"
                            placeholder="Reasoning symbol/id" 
                            v-model="newReason.symbol"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input
                            required
                            type="text"
                            placeholder="Reasoning description" 
                            v-model="newReason.description"
                            class="fira-sans-light w-full border rounded text-sm p-1"
                        >
                        <input type="submit" style="display: none" />
                    </form>
                    <div class="mt-2">
                        <div class="fira-sans-light"v-for="reason in reasonElements">
                            <label>{{ reason.element.symbol }} - {{ reason.element.description }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script>
        localStorage.clear();
        // var gun = new Gun(['https://gun-manhattan.herokuapp.com/gun']);

        var gun = new Gun();
        var db = gun.get('wira-pratama-gunfps');

        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    elements: [],
                    activities: [],
                    relations: [],
                    reasons: [],
                    newMetadata: {
                        title: '',
                        subtitle: '',
                        author: '',
                        px: 40,
                        py: 20,
                        rh: 20,
                        rw: 120,
                        type: 'metadata'
                    },
                    newActivity: {
                        name: '',
                        parent: '',
                        relation: '',
                        reason: '',
                        type: 'activity'
                    },
                    newRelation: {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    },
                    newReason: {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    }
                };
            },
            computed: {
                activityElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'activity';
                    });
                },
                relationElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'relation';
                    });
                },
                reasonElements: function() {
                    return this.elements.filter(function(element) {
                        return element.element.type === 'reason';
                    });
                },
            },
            methods: {
                generateGunfpId: function (prefix) {
                    return `${prefix}-` + Date.now() + '-' + Math.floor(Math.random() * 1000);
                },
                elementUpdated: function(element, nodeKey) {
                    /* 
                        Checks whether a node is a gunfp node and store it to local elements
                    */
                    if (!/^(activity-|relation-|reason-|metadata-)/.test(nodeKey)) {
                        return;
                    }
                    var existingElementIndex = this.elements.findIndex(function(element) {
                        return element.key === nodeKey
                    });
                    var elementToStore = {
                        element: element,
                        key: nodeKey
                    };
                    if (existingElementIndex === -1) {
                        this.elements.push(elementToStore);
                    } else {
                        this.elements.splice(existingElementIndex, 1, elementToStore);
                    };

                    /*
                        If element does exist, check the type of the element and whether the item already indexed, if not push to local
                    */
                    if (/^(activity-)/.test(nodeKey)) {
                        var existingActivityIndex = this.activities.findIndex(function(activity) {
                            return activity === elementToStore.element.name
                        });
                        if (existingActivityIndex === -1) {
                            this.activities.push(elementToStore.element.name);
                        };
                    };
                    if (/^(relation-)/.test(nodeKey)) {
                        var existingRelationIndex = this.relations.findIndex(function(relation) {
                            return relation === elementToStore.element.symbol
                        });
                        if (existingRelationIndex === -1) {
                            this.relations.push(elementToStore.element.symbol);
                        };
                    };
                    if (/^(reason-)/.test(nodeKey)) {
                        var existingReasonIndex = this.reasons.findIndex(function(reason) {
                            return reason === elementToStore.element.symbol
                        });
                        if (existingReasonIndex === -1) {
                            this.reasons.push(elementToStore.element.symbol);
                        };
                    };
                },
                createActivityElement: async function() {
                    /* 
                        Check whether newActivity has been filled
                        TODO: Add warning to user
                    */
                    if (this.newActivity.name === '') {
                        return;
                    }

                    /*
                        Check whether this element already exist in the activities index
                        TODO: Add warning to user
                    */
                    var newActivityName  = this.newActivity.name;
                    var existingActivityIndex = this.activities.findIndex(function(activity) {
                        return activity === newActivityName;
                    });
                    if (existingActivityIndex !== -1) {
                        this.newActivity = {
                            name: '',
                            parent: '',
                            weight: 0,
                            reason: 0,
                            type: 'activity'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'activity' and store it to db
                    */
                    var id = this.generateGunfpId('activity')
                    var dnNewActivity = await db.get(id);

                    await dnNewActivity.put(this.newActivity);
                    await db.set(dnNewActivity)

                    /*
                        Reset the field
                    */
                    this.newActivity = {
                        name: '',
                        parent: '',
                        weight: 0,
                        reason: 0,
                        type: 'activity'
                    };
                },
                createRelationElement: function() {
                    /* 
                        Check whether newRelation has been filled
                        TODO: Add warning to user
                    */
                    if (
                        this.newRelation.symbol === '' ||
                        this.newRelation.description === ''
                    ) {
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                        TODO: Add warning to user
                    */
                    var newRelationSymbol  = this.newRelation.symbol;
                    var existingRelationIndex = this.relations.findIndex(function(relation) {
                        return relation === newRelationSymbol;
                    });
                    if (existingRelationIndex !== -1) {
                        this.newRelation = {
                            symbol: '',
                            description: '',
                            type: 'relation'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'relation' and store it to db
                    */
                    var id = this.generateGunfpId('relation')
                    var newRelation = db.get(id);

                    newRelation.put(this.newRelation);
                    db.set(newRelation);
                    
                    /*
                        Reset the field
                    */
                    this.newRelation = {
                        symbol: '',
                        description: '',
                        type: 'relation'
                    };
                },
                createReasonElement: function() {
                    /* 
                        Check whether newRelation has been filled
                        TODO: Add warning to user
                    */
                    if (
                        this.newReason.symbol === '' ||
                        this.newReason.description === ''
                    ) {
                        return;
                    }

                    /*
                        Check whether this element already exist in the relations index
                        TODO: Add warning to user
                    */
                    var newReasonSymbol  = this.newReason.symbol;
                    var existingReasonIndex = this.reasons.findIndex(function(reason) {
                        return reason === newReasonSymbol;
                    });
                    if (existingReasonIndex !== -1) {
                        this.newReason = {
                            symbol: '',
                            description: '',
                            type: 'reason'
                        };
                        return;
                    }

                    /*
                        Generate a new node based on an Id starting with 'reason' and store it to db
                    */
                    var id = this.generateGunfpId('reason')
                    var newReason = db.get(id);

                    newReason.put(this.newReason);
                    db.set(newReason);
                    
                    /*
                        Reset the field
                    */
                    this.newReason = {
                        symbol: '',
                        description: '',
                        type: 'reason'
                    };
                },
            },
            mounted: function () {
                /*
                    Subscribe on the data
                */
                db.map().on(this.elementUpdated.bind(this));
            }
        }).mount("#app");
    </script>
</html>